.card1{
    position: relative;
    width: 30rem;
    height: 30rem;
}





.card1 div {
    position: absolute;
    width: 30rem;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}

.card1 .front {
    transform: perspective(500px) rotatey(0deg);
}
.card1 .back {
    transform: perspective(500px) rotatey(180deg);
}

.card1:hover .front {
    transform: perspective(500px) rotatey(180deg);
}

.card1:hover .back {
    transform: perspective(500px) rotatey(360deg);
}